
.loader {
    margin-left: 20px;
    margin-top: 20px;
    width: 3rem;
    height: 3rem;
}

.card {
    transition: all .4s ease-in-out;
    min-height: 100%;
    border: 0!important;
}

.card:hover {
    transform: scale(1.02);
}

@media (max-width: 575px) {
    .card-img-top {
        height: 150px;
    }
}